

body{
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #212529;
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
   
}

.outer{
    
    width: 600px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    
}

.inner
{
    
    width: 400px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 50px;
    background-color: white;
}

h1{
    
    color: white;
}

.classpara1{
    
    text-transform: uppercase;
    font-size: 20PX;
    margin-top: 50px;
}

.classinput{

    border: 5px solid yellowgreen;
    border-radius: 10px;
    padding: 10px;
   
  
}

.classbtn{
    
    border-radius: 10px;
    padding: 13px;
    background-color: yellowgreen;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 900;
}

.won
{
   
    color: white;
    font-size: 30px;
    margin-top: 100px;
}
.timeout
{
    font-size: 20px;
    color: rgb(255, 0, 0);
    font-weight: 900;
}

@media only screen and (max-width: 769px) and (min-width: 0px) 
{
    .outer {
        width: 320px;
        height: 650px;
    }

    .inner{
        width: 300px;
        height: 300px;
    }
    .classpara1
    {
        margin-top: 100px;
    }
    .won{
        margin-top: 130px;
    }
}